<module>
	<rawname>callrecording</rawname>
	<repo>standard</repo>
	<name>Call Recording</name>
	<version>2.10.0.1</version>
	<publisher>FreePBX</publisher>
	<license>GPLv2+</license>
	<category>Applications</category>
	<description>
		Provides much of the call recording functionality.	
	</description>
	<menuitems>
		<callrecording>Call Recording</callrecording>
	</menuitems>
	<changelog>
		*2.10.0.1* #5478 
	  *2.10.0.0* New Module
	</changelog>
	<location>release/2.10/callrecording-2.10.0.1.tgz</location>
	<md5sum>27f390f64ea3a5e06e33960926bc1718</md5sum>
</module>